@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
 
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}






*{
    margin: 0;
    padding: 0;
}


/* Shared Styles */

.flex{
    display: flex;
}

.btn-primary{
    background-color: #E95A08;
    color: white;
    border: none;
}



.header{
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 120px 150px;
}

nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 48px;
}


.banner{
    margin: 120px 150px 120px 150px;
}

.hero-text{
    font-size: 4rem;
    font-weight: bold;
}

.hero-para{
    font-size: 1.375rem;
}

.plant-text{
    text-align: center;
}

.plant-hero{
    font-size: 3.125rem;
    font-weight: bold;
}

.plant-para{
    font-size: 1.375rem;
}

.cards{
    margin: 0 150px;
}

.card{
    width: 270px;
    height: 450px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.card img{
    width: 100%;
}

.card-btn{
    width: 270px;
    height: 50px;
}

.card-section{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 49px;
    gap: 20px;
}

.card, .name , .price{
    margin: 20px 0;
}

.plant-img{
    margin: 0 150px;
    gap: 60px;
}

.flower-text{
    font-size: 3.125rem;
    font-weight: bold;
}

.flower-text-content{
    width: 540px;
    height: 520px;
    margin: 38px 0;
}

.trusted-img{
    width: 285px;
    height: 285px;
    position: relative;
    left: 510px;
    bottom: -170px;
}

.flower-plant-section{
        margin-top: -70px;
        
        max-height: 597px;
}


.flower-para li {
    font-size: 1.375rem;
    margin: 20px 0;
}

